# Proyek Analisis Data: E-Commerce Public Dataset
- **Nama:** Axell Amadeus Siagian
- **Email:** axell.siagian@gmail.com
- **ID Dicoding:** xl_amadeus

## Menentukan Pertanyaan Bisnis

- Lokasi geografis (state) mana yang memiliki volume pembelian tertinggi?
- Seberapa sering pelanggan melakukan pembelian yang berulang?
- Kategori produk apa yang memiliki tingkat kepuasan yang tertinggi?

## Import Semua Packages/Library yang Digunakan

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.colors import LinearSegmentedColormap
import seaborn as sn
import geopandas as gpd

## Data Wrangling

### Gathering Data

In [97]:
# CSV untuk semua customer
customers_df = pd.read_csv('data/customers_dataset.csv')
customers_df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [98]:
# CSV untuk lokasi kota
geolocation_df = pd.read_csv('data/geolocation_dataset.csv')
geolocation_df.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [99]:
# CSV untuk order yang ada
order_items_df = pd.read_csv('data/order_items_dataset.csv')
order_items_df.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [ ]:
# CSV untuk tipe pembayaran
order_payments_df = pd.read_csv('data/order_payments_dataset.csv')
order_payments_df.head()

In [ ]:
# CSV untuk review dari order
order_reviews_df = pd.read_csv('data/order_reviews_dataset.csv')
order_reviews_df.head()

In [ ]:
# CSV untuk order yang ada
orders_df = pd.read_csv('data/orders_dataset.csv')
orders_df.head()

In [ ]:
# CSV untuk kategori
product_category_df = pd.read_csv('data/product_category_name_translation.csv')
product_category_df.head()

In [ ]:
# CSV untuk semua produk yang dijual
products_df = pd.read_csv('data/products_dataset.csv')
products_df.head()

In [ ]:
# CSV untuk semua penjual dalam platform
sellers_df = pd.read_csv('data/sellers_dataset.csv')
sellers_df.head()

### Assessing Data

#### Menilai Semua Dataframe yang di-impor

##### Menilai dataframe customer

In [ ]:
# Melihat informasi mengenai dataframe customer
customers_df.info()

In [ ]:
# Mencari data duplikat
print("Jumlah duplikasi customers_df: ",customers_df.duplicated().sum())
customers_df.describe()

In [ ]:
# Mencari data yang Null
print("Mencari data Null: ", customers_df.isna().sum())

##### Menilai dataframe geolocation

In [ ]:
# Melihat informasi mengenai dataframe customer
geolocation_df.info()

In [ ]:
# Mencari data duplikat
print("Jumlah duplikasi geolocation_df: ",geolocation_df.duplicated().sum())
geolocation_df.describe(include="all")

In [ ]:
# Mencari data yang Null
print("Mencari data Null: ", geolocation_df.isna().sum())

##### Menilai dataframe order items

In [ ]:
# Melihat informasi mengenai dataframe order items
order_items_df.info()

In [ ]:
# Mencari data duplikat
print("Jumlah duplikasi order_items_df: ",order_items_df.duplicated().sum())
order_items_df.describe()

In [ ]:
# Mencari data yang Null
print("Mencari data Null: ", order_items_df.isna().sum())

##### Menilai dataframe order payments

In [ ]:
# Melihat informasi mengenai dataframe order payments
order_payments_df.info()

In [ ]:
# Mencari data duplikat
print("Jumlah duplikasi order_payments_df: ",order_payments_df.duplicated().sum())
order_payments_df.describe()

In [ ]:
# Mencari data yang Null
print("Mencari data Null: ", order_payments_df.isna().sum())

##### Menilai dataframe order reviews

In [ ]:
# Melihat informasi mengenai dataframe order reviews
order_reviews_df.info()

In [ ]:
# Mencari data duplikat
print("Jumlah duplikasi order_reviews_df: ",order_reviews_df.duplicated().sum())
order_reviews_df.describe()

In [ ]:
# Mencari data yang Null
print("Mencari data Null: ", order_reviews_df.isna().sum())

##### Menilai dataframe orders

In [ ]:
# Melihat informasi mengenai dataframe orders
orders_df.info()

In [ ]:
# Mencari data duplikat
print("Jumlah duplikasi orders_df: ",orders_df.duplicated().sum())
orders_df.describe()

In [ ]:
# Mencari data yang Null
print("Mencari data Null: ", orders_df.isna().sum())

##### Menilai dataframe product category

In [ ]:
# Melihat informasi mengenai dataframe product category
product_category_df.info()

In [ ]:
# Mencari data duplikat
print("Jumlah duplikasi product_category_df: ",product_category_df.duplicated().sum())
product_category_df.describe()

In [ ]:
# Mencari data yang Null
print("Mencari data Null: ", product_category_df.isna().sum())

#### Menilai dataframe products

In [ ]:
# Melihat informasi mengenai dataframe products
products_df.info()

In [ ]:
# Mencari data duplikat
print("Jumlah duplikasi products_df: ",products_df.duplicated().sum())
products_df.describe()

In [ ]:
# Mencari data yang Null
print("Mencari data Null: ", products_df.isna().sum())

##### Menilai dataframe sellers

In [ ]:
# Melihat informasi mengenai dataframe sellers
sellers_df.info()

In [ ]:
# Mencari data duplikat
print("Jumlah duplikasi sellers_df: ",sellers_df.duplicated().sum())
sellers_df.describe()

In [ ]:
# Mencari data yang Null
print("Mencari data Null: ", sellers_df.isna().sum())

### Cleaning Data

##### Membersihkan dataframe order items

In [ ]:
# Perbaiki tipe data dari order items
kolom_perbaiki = ["shipping_limit_date"]

for kolom in kolom_perbaiki:
  order_items_df[kolom] = pd.to_datetime(order_items_df[kolom])

order_items_df.info()

##### Membersihkan dataframe order reviews

In [ ]:
# Perbaiki tipe data dari order reviews
kolom_perbaiki = ["review_creation_date","review_answer_timestamp"]

for kolom in kolom_perbaiki:
  order_reviews_df[kolom] = pd.to_datetime(order_reviews_df[kolom])

order_reviews_df.info()

##### Membersihkan dataframe orders

In [ ]:
# Perbaiki tipe data dari orders
kolom_perbaiki = ["order_purchase_timestamp", "order_approved_at", "order_delivered_carrier_date", "order_delivered_customer_date", "order_estimated_delivery_date"]

for kolom in kolom_perbaiki:
  orders_df[kolom] = pd.to_datetime(orders_df[kolom])

orders_df.info()

In [ ]:
# Drop semua order yang tidak memiliki order_status "delivered"
# Hal ini dilakukan karena analisi yang saya lakukan tidak memerlukan orderan yang belum diterima pelanggan
orders_df.drop(orders_df[orders_df['order_status'] != 'delivered'].index, inplace=True)
orders_df.describe(datetime_is_numeric=True)

##### Membersihkan dataframe products

In [ ]:
# Mengisi semua produk yang tidak memiliki nama kategori dengan nilai "other"
products_df['product_category_name'].fillna(value='other', inplace=True)

## Exploratory Data Analysis (EDA)

### Explorasi dataframe orders

In [ ]:
orders_df.sample(5)

In [ ]:
orders_df.describe(datetime_is_numeric=True)

### Explorasi dataframe customers

In [ ]:
customers_df.sample(5)

In [ ]:
customers_df.describe(include="all")

In [ ]:
# Menampilkan customer sesuai dengan kolom customer_state
customers_df.groupby(by="customer_state").customer_id.nunique().sort_values(ascending=False)

In [ ]:
# Menampilkan customer sesuai dengan kolom customer_city
customers_df.groupby(by="customer_city").customer_id.nunique().sort_values(ascending=False)

### Explore dataframe customers & orders

In [ ]:
# Menggabungkan customers dan orders untuk menentukan lokasi dari tiap order
customers_orders_df = pd.merge(
    left=customers_df,
    right=orders_df,
    how="inner",
    left_on="customer_id",
    right_on="customer_id"
)
customers_orders_df.describe()

In [ ]:
customers_orders_df.head()

In [ ]:
# Total order berdasarkan dengan masing-masing state ("customer_state")
customers_orders_df.groupby(by="customer_state").order_id.nunique().sort_values(ascending=False)

In [ ]:
# Total order berdasarkan dengan masing-masing kota ("customer_city")
customers_orders_df.groupby(by="customer_city").order_id.nunique().sort_values(ascending=False).head()

In [ ]:
customer_purchase_counts = customers_orders_df.groupby(by="customer_unique_id").order_id.nunique()
customer_purchase_counts = customer_purchase_counts[customer_purchase_counts > 1].sort_values(ascending=False)
customer_purchase_counts.head()

### Explore dataframe geolocation

In [ ]:
geolocation_df.sample(5)

In [ ]:
geolocation_df.describe(include="all")

In [ ]:
# Menampilkan semua data geolocation sesuai dengan zip code
geolocation_df.groupby('geolocation_zip_code_prefix').size().sort_values(ascending=False)

### Explore dataframe order reviews

In [ ]:
order_reviews_df.sample(5)

In [ ]:
order_reviews_df.describe(include="all", datetime_is_numeric=True)

### Explore dataframe order items

In [ ]:
order_items_df.sample(5)

In [ ]:
order_items_df.describe(include="all", datetime_is_numeric=True)

#### Menggabungkan dataframe reviews & orders

In [ ]:
# Menggabungkan customers dan orders untuk menentukan lokasi dari tiap order
reviews_orders_df = pd.merge(
    left=order_reviews_df,
    right=orders_df,
    how="left",
    left_on="order_id",
    right_on="order_id"
)
customers_orders_df.describe()

In [ ]:
customers_orders_df.head()

### Explore dataframe products

In [ ]:
products_df.sample(5)

In [ ]:
products_df.describe(include="all")

In [ ]:
# Total produk berdasarkan dengan nama kategori ("product_category_name")
products_df.groupby(by="product_category_name").product_id.nunique().sort_values(ascending=False)

### Explore dataframe product category

In [ ]:
product_category_df.sample(5)

In [ ]:
product_category_df

#### Menggabungkan products dan categories

In [ ]:
products_categories_df = pd.merge(
    left=products_df,
    right=product_category_df,
    how="left",
    left_on="product_category_name",
    right_on="product_category_name"
)
customers_orders_df.head()

#### Menggabungkan products_categories dengan product items

In [ ]:
items_products_categories_df = pd.merge(
    left=order_items_df,
    right=products_categories_df,
    how="left",
    left_on="product_id",
    right_on="product_id"
)
customers_orders_df.head()

#### Menggabungkan reviews_orders dan items_products_categories

In [ ]:
items_products_categories_df.head()

In [ ]:
reviews_orders_items_products_categories_df = pd.merge(
    left=reviews_orders_df,
    right=items_products_categories_df,
    how="left",
    left_on="order_id",
    right_on="order_id"
)
reviews_orders_items_products_categories_df.head()

In [ ]:
agg = {
    'review_score': 'mean',
    'order_id': 'count'
}

# Kelompokkan sesuai dengan kategori produk
result = reviews_orders_items_products_categories_df.drop_duplicates('review_id')
result = result.groupby('product_category_name_english').agg(agg).reset_index()
result.columns = ['product_category_name', 'avg_review_score', 'num_orders']

# Sort dataframe sesuai dengan avg_review_score
sorted_result = result.sort_values(by='avg_review_score', ascending=False)
print(sorted_result)

In [ ]:
reviews_orders_items_products_categories_customer_df = pd.merge(
    left=reviews_orders_items_products_categories_df,
    right=customers_df,
    how="left",
    left_on="customer_id",
    right_on="customer_id"
)
reviews_orders_items_products_categories_customer_df.head()

### Explore dataframe order payments

In [ ]:
order_payments_df.sample(5)

In [ ]:
order_payments_df.head()

In [ ]:
# Mencari order dengan nilai pembayaran yang paling besar
order_payments_df_sorted = order_payments_df.sort_values(by='payment_value',ascending=False).head()
order_payments_df_sorted.head()

### Explore dataframe sellers

In [ ]:
sellers_df.sample(5)

In [ ]:
sellers_df.describe(include="all")

In [ ]:
# Mencari tau tentang kota mana memiliki jumlah penjual yang paling banyak
sellers_df.groupby(by="seller_city").seller_id.nunique().sort_values(ascending=False)

### Explore all data

In [ ]:
all_data_df = pd.merge(
    left=reviews_orders_items_products_categories_customer_df,
    right=sellers_df,
    how="left",
    left_on="seller_id",
    right_on="seller_id"
)

In [ ]:
all_data_df = pd.merge(
    left=all_data_df,
    right=order_payments_df,
    how="left",
    left_on="order_id",
    right_on="order_id"
)
all_data_df = all_data_df.drop_duplicates('order_id')
all_data_df.info()
all_data_df.to_csv("data/all_data_df.csv", index=False)

In [ ]:
# Mencari score review paling rendah dan paling tinggi untuk masing-masing category
agg = {
    "order_id": "nunique",
    "review_score":  ["min", "max"]
}
all_data_df.groupby(by="product_category_name_english").agg(agg).reset_index()

## Visualization & Explanatory Analysis

### Pertanyaan 1: Lokasi geografis (state) mana yang memiliki volume pembelian tertinggi?

In [ ]:
all_data_df.head()

In [ ]:
agg = {
    "order_id": "count"
}

pembelian_states = all_data_df[all_data_df['order_status'] == 'delivered'].groupby('customer_state').agg(agg).reset_index()
pembelian_states.columns = ['customer_state', 'total_rows']
pembelian_states = pembelian_states.sort_values(by='total_rows', ascending=False)
pembelian_states_tertinggi = pembelian_states.head(25)

# Warna untuk plotting
colors = plt.cm.viridis(np.linspace(0, 1, len(pembelian_states)))

# Plotting data
plt.figure(figsize=(14, 6))
bars = plt.bar(pembelian_states_tertinggi['customer_state'], pembelian_states_tertinggi['total_rows'], color=colors)

# Menambahkan judul dan label
plt.title('Total Pembelian Masing-Masing State')
plt.xlabel('State')
plt.ylabel('Total Pembelian')

# Membuat plot
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

In [ ]:
agg = {
    "order_id": "count"
}

pembelian_city = all_data_df[all_data_df['order_status'] == 'delivered'].groupby('customer_city').agg(agg).reset_index()
pembelian_city.columns = ['customer_city', 'total_rows']
pembelian_city = pembelian_city.sort_values(by='total_rows', ascending=False)
pembelian_city_tertinggi = pembelian_city.head(25)

# Warna untuk plotting
colors = plt.cm.viridis(np.linspace(0, 1, len(pembelian_city)))

# Plotting data
plt.figure(figsize=(14, 6))
bars = plt.bar(pembelian_city_tertinggi['customer_city'], pembelian_city_tertinggi['total_rows'], color=colors)

# Menambahkan judul dan label
plt.title('Total Pembelian Masing-Masing Kota')
plt.xlabel('Kota')
plt.ylabel('Total Pembelian')

# Membuat plot
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

### Pertanyaan 2: Seberapa sering pelanggan melakukan pembelian yang berulang?

In [ ]:
customer_purchase_counts = all_data_df.groupby(by="customer_unique_id").order_id.nunique()
customer_purchase_counts = customer_purchase_counts.sort_values(ascending=False)
customer_purchase_counts.columns = ['customer_unique_id', 'count']
customer_purchase_counts

In [ ]:
# Mencari semua customer yang unik
transaction_counts = all_data_df.groupby('customer_unique_id').size().reset_index(name='transaction_count')

# Warna khusus
colors = {2:'#ffdc99', 3: '#ff9999', 4: '#66b3ff', 5: '#99ff99', 6: '#c2c2f0', 7: '#ffcc99'}

# Menghitung total dari customer
total_customers = len(transaction_counts)

# Menghitung customer yang order sebanyak 1 kali atau lebih
single_transaction_count = (transaction_counts['transaction_count'] == 1).sum()
multiple_transaction_count = total_customers - single_transaction_count
multiple_transactions = transaction_counts[transaction_counts['transaction_count'] > 0]
multiple_transactions = multiple_transactions.groupby('transaction_count').size().reset_index(name='customer_count')

# Plotting pie chart untuk perbandingan transaksi satu kali dan yang berulang
plt.figure(figsize=(15, 5))
plt.subplot(1, 3, 1)
plt.pie([single_transaction_count, multiple_transaction_count], labels=['Order Sekali', 'Order Berulang'], autopct='%1.1f%%', startangle=140, colors=['#Afdc99', '#ffdc99'])
plt.title('Perbandingan Customer Sekali Order dan Berulang')
plt.axis('equal')

# Plotting pie chart perbandingan transaksi 2, 3, dan 4 atau lebih
plt.subplot(1, 3, 2)
sizes = [multiple_transactions[multiple_transactions['transaction_count'] == 2]['customer_count'].values[0],
         multiple_transactions[multiple_transactions['transaction_count'] == 3]['customer_count'].values[0],
         multiple_transactions[multiple_transactions['transaction_count'] >= 4]['customer_count'].sum()]
labels = ['2 Order', '3 Order', '4+ Order']
plt.pie(sizes, labels=labels, autopct='%1.1f%%', startangle=140, colors=[colors[int(label[0])] for label in labels])
plt.title('Distribusi Customer Berulang (2 hingga 4+ Order)')
plt.axis('equal')

# Plotting pie chart perbandingan transaksi 3, 4, 5, 6, dan 7 atau lebih
plt.subplot(1, 3, 3)
sizes = [multiple_transactions[multiple_transactions['transaction_count'] == 3]['customer_count'].values[0],
         multiple_transactions[multiple_transactions['transaction_count'] == 4]['customer_count'].values[0],
         multiple_transactions[multiple_transactions['transaction_count'] == 5]['customer_count'].values[0],
         multiple_transactions[multiple_transactions['transaction_count'] == 6]['customer_count'].values[0],
         multiple_transactions[multiple_transactions['transaction_count'] >= 7]['customer_count'].sum()]
labels = ['3 Order', '4 Order', '5 Order', '6 Order', '7+ Order']
plt.pie(sizes, labels=labels, autopct='%1.1f%%', startangle=140, colors=[colors[int(label[0])] for label in labels])
plt.title('Distribusi Customer Berulang (3 hingga 7+ Order)')
plt.axis('equal')

# Show plots
plt.tight_layout()
plt.show()

### Pertanyaan 3: Kategori produk apa yang memiliki tingkat kepuasan yang tertinggi?

In [ ]:
agg = {
    'review_score': 'mean',
    'order_id': 'count'
}

# Kelompokkan sesuai dengan kategori produk
result = all_data_df.groupby('product_category_name_english').agg(agg).reset_index()
result.columns = ['product_category_name', 'avg_review_score', 'num_orders']

# Sort dataframe sesuai dengan avg_review_score
sorted_result = result.sort_values(by='avg_review_score', ascending=False)

print(sorted_result)

In [ ]:
# Memilih 5 kategori terbaik dan terburuk
top_categories = sorted_result.head(5)
bottom_categories = sorted_result.tail(5)

# Membuat subplot
fig, axs = plt.subplots(1, 2, figsize=(16, 6))

# Plotting kategori terbaik
axs[0].barh(top_categories['product_category_name'], top_categories['avg_review_score'], color='skyblue')
axs[0].set_title('5 Kategori Produk Terbaik')
axs[0].set_xlabel('Rata-Rata Review')
axs[0].set_ylabel('Product Category')
axs[0].set_xlim(0, 5)

# Plotting kategori terburuk
axs[1].barh(bottom_categories['product_category_name'][::-1], bottom_categories['avg_review_score'][::-1], color='salmon')
axs[1].set_title('5 Kategori Produk Terburuk')
axs[1].set_xlabel('Rata-Rata Review')
axs[1].set_ylabel('Product Category')
axs[1].set_xlim(5, 0)
axs[1].yaxis.tick_right()

# Menyesuaikan layout
plt.subplots_adjust(top=0.85, wspace=0.4)

# Show plot
plt.suptitle("Perbandingan Review Kategori Terbaik dan Terburuk", fontsize=20)
plt.show()

In [ ]:
# Load the shapefile for Brazil
earth = gpd.read_file("data/earth.shp")

# Create a sample dataframe (replace this with your actual dataframe)
df = geolocation_df

# Plot the map of Brazil
fig, ax = plt.subplots(figsize=(20, 12))
earth.plot(ax=ax, color='lightgrey', edgecolor='brown')

# Plot the locations on top of the map
ax.scatter(df['geolocation_lng'], df['geolocation_lat'], color='blue', alpha=0.5, label='Titik Lokasi')
ax.set_xlabel('Longitude')
ax.set_ylabel('Latitude')
ax.set_title('Data Geolocation Overlay pada Peta Dunia')
plt.legend()
plt.grid(True)
plt.show()

## Conclusion

- Lokasi geografis (state) mana yang memiliki volume pembelian tertinggi?
> State yang memiliki volume pembelian tertinggi adalah Sao Paulo (SP), Rio de Janeiro (RJ), Belo Horizonta (MG), Porto Alegre (RS), dan Curitiba (PR).
- Seberapa sering pelanggan melakukan pembelian yang berulang?
> Sebanyak 2542 pelanggan melakukan pembelian ulang yaitu sekitar 3% dari seluruh daftar pelanggan. Sebanyak 222 pelanggan melakukan order 3 atau lebih kali.
- Kategori produk apa yang memiliki tingkat kepuasan yang tertinggi?
> 5 review kategori terbaik terdiri dari CD dan DVD musik, masakan pakaian anak, buku umum, dan peralatan konstruksi. Sedangkan review kategori produk terburuk adalah popok dan alat kebersihan, pakaian fashion wanita, pakaian fashion pria, perabot kantor, dan layanan keamanan.